{% extends 'base.html' %}
{% block content %}

<h2>Details</h2>

<div class="row">
    <div class="col s6">
        <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ tswift.name }}</span>
                    <p>Release Year: {{ tswift.year }}</p>
                    <p>Popular Songs: {{ tswift.songs }}</p>
                    {% if tswift.taylors_version %}
                        <p>Taylor's Version: Yes</p>
                    {% else %}
                        <p>Taylor's Version: No</p>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="{% url 'tswifts_update' tswift.id %}">Edit</a>
                    <a href="{% url 'tswifts_delete' tswift.id %}">Delete</a>
                </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_datinghistory' tswift.id %}" method="POST">
            {% csrf_token %}
            {{ datinghistory_form.as_p }}
            <input type="submit" class="btn" value="Add Partner">
        </form>        
        <table class="striped">
            <thead>
                <tr><th>Partner</th><th>Start Date</th><th>End Date</th></tr>
            </thead>
            <tbody>
                {% for datinghistory in tswift.datinghistory_set.all %}
                <tr>
                    <td>{{datinghistory.partner_name}}</td>
                    <td>{{datinghistory.start_date}}</td>
                    <td>{{datinghistory.end_date}}</td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>
</div>

<script>
    const startDateEl = document.getElementById('id_start_date')
    M.Datepicker.init(startDateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: false,
        yearRange: 15,
        autoClose: true
    });
    const endDateEl = document.getElementById('id_end_date')
    M.Datepicker.init(endDateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: false,
        yearRange: 15,
        autoClose: true
    });  
</script>
{% endblock %}